<div class="container">

  <div class="row main">
    <article class="col-sm-12 col-md-6">
      <h1>article1 <span class="glyphicon glyphicon-ok"></span></h1>
      <ul class="list-group row">
        <li class="list-group-item col-xs-11 col-md-5"><span class="badge">110</span><a href="#">contents1</a></li>
        <li class="list-group-item col-xs-11 col-md-5"><span class="badge">44</span><a href="#">contents2</a></li>
        <li class="list-group-item col-xs-11 col-md-5"><span class="badge">34</span><a href="#">contents3</a></li>
        <li class="list-group-item col-xs-11 col-md-5"><span class="badge">6</span><a href="#">contents4</a></li>
      </ul>
    </article>
    <article class="col-sm-12 col-md-6">
      <h1>article2 <span class="glyphicon glyphicon-ok"></span></h1>
      <ul class="list-group row">
        <li class="list-group-item col-xs-11 col-md-5"><span class="badge">62</span><a href="#">contents1</a></li>
        <li class="list-group-item col-xs-11 col-md-5"><span class="badge">39</span><a href="#">contents2</a></li>
        <li class="list-group-item col-xs-11 col-md-5"><span class="badge">11</span><a href="#">contents3</a></li>
        <li class="list-group-item col-xs-11 col-md-5"><span class="badge">0</span><a href="#">contents4</a></li>
      </ul>
    </article>
  </div>
</div>
